
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Venue</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/frontend.css">
		<meta http-equiv="Content-Type" content="text/html" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="text/javascript" src="js/jquery-1.12.3.min.js"></script>
		<script src="js/chosen.jquery.min.js"></script>
		<script src="js/superfish.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/settings.js"></script>
	</head>
	<body class="venue_page">
		<div class="main_wrapper">
			<header>
				<div class="header_sm">
					<nav class="navbar_sm">
						<div class="mob_btn"></div>
						<ul class="gen_menu">
							<li class="sublist">
								<a href="#">Locations</a>
								<ul class="sub_menu">
									<li class="secsublist">
										<a href="#">Wedding Locations</a>
										<ul class="secsub_menu">
											<li><a href="venue_location.html">Beach</a></li>
											<li><a href="venue_location.html">Gazebo</a></li>
											<li><a href="venue_location.html">Garden</a></li>
										</ul>
									</li>
									<li><a href="#">Reception Locations</a></li>
								</ul>
							</li>
							<li><a href="#">Availability</a></li>
							<li><a href="#">Wedding packages</a></li>
							<li><a href="#">Wedding items</a></li>
							<li><a href="#">Food & Beverages</a></li>
							<li class="sublist">
								<a href="#">Gallery</a>
								<ul class="sub_menu">
									<li><a href="#">Wedding Themes</a></li>
									<li><a href="#">Cake Gallery</a></li>
									<li><a href="#">Flower Gallery</a></li>
								</ul>
							</li>
							<li><a href="#">FAQ's</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<section class="topimg_block">
				<div class="jumbotron">
					<h1>Amazing Venues</h1>
				</div>
				<div class="filter_white pos_absolute">
					<div class="container">
						<div class="row">
							<div class="top_block">
								<span>Resort Featured Name</span>
								<a href="#" class="animate_btn">Let's Say "I Do" Here</a>
							</div>
						</div>
					</div>
				</div>
				<!--div class="media">
					<img src="images/main/venue_top1.jpg" />
				</div-->
				
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">
					<!-- Indicators -->
					<!--ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol -->

				  <!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="images/main/venue_top1.jpg" alt="img1">
							<div class="carousel-caption"></div>
						</div>
						<div class="item">
							<img src="images/main/venue_top2.jpg" alt="img2">
							<div class="carousel-caption"></div>
						</div>
						<div class="item">
							<img src="images/main/venue_top3.jpg" alt="img3">
							<div class="carousel-caption"></div>
						</div>
					</div>

				  <!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<div class="glyphicon glyphicon-chevron-left" aria-hidden="true"></div>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<div class="glyphicon glyphicon-chevron-right" aria-hidden="true"></div>
						<span class="sr-only">Next</span>
					</a>
				</div>				
			</section>
			<section class="content_block">
				<div class="container">
					<div class="row">
						<div class="clearfix">
							<div class="col-md-12">
								<h1>Title a Description of the Venue</h1>
								<h2>a subtitle of page</h2>
							</div>
						</div>
						<div class="content_left clearfix">
							<div class="col-md-6">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
									pellentesque eu, pretium quis, sem. <a href="#">Nulla consequat</a> massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
									pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
								</p>
							</div>
							<div class="col-md-6">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
									pellentesque eu, pretium quis, sem. <a href="#">Nulla consequat</a> massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
									pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer>
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-4 col-sm-6">
								<span>Copyright &copy 2016 Idoweddings.com</span>
							</div>
							<div class="col-md-4 col-sm-6">
								<a href="#">Privacy Policy</a>
								<a href="contact_us.html">Contact Us</a>
							</div>
							<div class="col-md-4 col-sm-12">
								<span>Powered by <a href="homepage.html" class="foo_logo"></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>