@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensansregular-webfont.eot');
    src: url('../font/opensansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensansregular-webfont.woff2') format('woff2'),
         url('../font/opensansregular-webfont.woff') format('woff'),
         url('../font/opensansregular-webfont.ttf') format('truetype'),
         url('../font/opensansregular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_lightregular';
    src: url('../font/opensanslight-webfont.eot');
    src: url('../font/opensanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensanslight-webfont.woff2') format('woff2'),
         url('../font/opensanslight-webfont.woff') format('woff'),
         url('../font/opensanslight-webfont.ttf') format('truetype'),
         url('../font/opensanslight-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('../font/opensanssemibold-webfont.eot');
    src: url('../font/opensanssemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensanssemibold-webfont.woff2') format('woff2'),
         url('../font/opensanssemibold-webfont.woff') format('woff'),
         url('../font/opensanssemibold-webfont.ttf') format('truetype'),
         url('../font/opensanssemibold-webfont.svg#open_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
}
body * {
	outline: none;
}
p {
	margin: 0;
	line-height: 20px;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
a, a:hover, a:focus {
	outline: none !important;
	text-decoration: none;
}
form label {
	margin-right: 12px;
	font-weight: normal;
}
.form-control {
	border: 1px solid #ccc;
	box-shadow: none;
}
.form-control:focus {
	border: 1px solid #868234;
	box-shadow: 0 0 3px 0 #868234;
}
.form-control[disabled] {
	background: #fff;
	cursor: default;
}
table, th {
	text-align: center;
}
.table > thead > tr > th,
.table > tbody > tr > td {
	vertical-align: middle;
}
.nicescroll-rails[id$="hr"]{
	display: none;
}
.clearfix:after {
    content: "";
    height: 0;
    clear: both;
    display: block;
    overflow: hidden;
}
.main_wrapper {
	position: relative;
	min-height: 100%;
	background: url(../img/section_bg.png) repeat-y top right 24px;
}
.container {
	max-width: 1170px;
	width: 100%;
	font-family: 'open_sansregular';
	color: #2e1106;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.btn:focus {
	outline: none;
}
.btn-danger {
	border-color: #cd7d4b;
	background: #e39564;
}
.btn-danger:hover,
.btn-danger:focus {
	border-color: #cd7d4b;
	background: #e39564;
	box-shadow: inset 0 0 6px 1px #cd7d4b;
}
.btn-success {
	border-color: #868234;
	background: #9e9a49;
}
.btn-success:hover,
.btn-success:focus {
	border-color: #868234;
	background: #9e9a49;
	box-shadow: inset 0 0 6px 1px #868234;
}
.btn-default {
	color: #777777;
}
.mob_btn {
	position: absolute;
    display: none;
    width: 36px;
    height: 28px;
    background: url(../img/mob_btn.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
	z-index: 3;
}
.text-success {
	color: #868234;
}
.dropdown-menu > li > a {
	color: #2e1106;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #2e1106;
  background-color: #ffe3c7;
}
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:focus {
	background-color: #fff;
	border-color: #ccc;
}
.pagination_panel {
	margin-bottom: 20px;
}
.pagination_panel span {
	line-height: 34px;
	font-family: 'open_sans_lightregular';
	color: #777777;
}
.pagination {
	margin: 0;
	float: right;
}
.pagination > .active > a {
	border-color: #9e9a49;
	background-color: #9e9a49;
}
.pagination > .active > a:focus,
.pagination > .active > a:hover {
	border-color: #868234;
	background: #9e9a49;
	box-shadow: inset 0 0 6px 1px #868234;
}
.pagination > li > a,
.pagination > li > span {
	color: #2e1106;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2e1106;
  background-color: #ffe3c7;
  border-color: #ddd;
}
.glyphicon-close {
	width: 10px;
	height: 9px;
	margin: 0 5px 1px 0;
	background: url(../img/close_white.png) no-repeat;
}
.glyphicon-mykey {
	width: 14px;
    height: 14px;
	background: url(../img/key.png) no-repeat center center;
	background-size: 100%;
}

/********Left panel styles********/

.left_panel {
    position: absolute;
    top: 0;
	width: 98px;
	min-height: 825px;
	height: 100%;
    background: #de6830;
	overflow: hidden;
	z-index: 3;
}
.left_panel.open {
	width: 292px !important;
}
.logo {
	display: block;
	width: 72px;
	height: 54px;
	margin: 15px auto;
	background: url(../img/logo.png) no-repeat;
}
.left_panel.open .logo {
	margin: 15px 13px;
}
.left_panel span {
	position: absolute;
	top: 19px;
	left: 115px;
	font-size: 30px;
	font-family: 'open_sansregular';
	color: #ffe3c7;
}
.item_list li a {
	display: inline-block;
	width: 100%;
	height: 34px;
	padding-left: 115px;
	line-height: 34px;
	text-transform: uppercase;
	color: #fff;
	white-space: nowrap;
}
.item_list li a:hover,
.item_list li.active a {
	color: #de6830;
}
.item_list li.item_1 a {
	background: url(../img/icons/icon_1.png)no-repeat left 35px center;
}
.item_list li.item_1 a:hover,
.item_list li.item_1.active a {
	background: url(../img/icons/icon_1_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_2 a {
	background: url(../img/icons/icon_2.png)no-repeat left 35px center;
}
.item_list li.item_2 a:hover,
.item_list li.item_2.active a {
	background: url(../img/icons/icon_2_hov.png)no-repeat left 35px center #ffe3c7;
}

.item_list li.item_3 a {
	background: url(../img/icons/icon_3.png)no-repeat left 35px center;
}
.item_list li.item_3 a:hover,
.item_list li.item_3.active a {
	background: url(../img/icons/icon_3_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_4 a {
	background: url(../img/icons/icon_4.png)no-repeat left 35px center;
}
.item_list li.item_4 a:hover ,
.item_list li.item_4.active a{
	background: url(../img/icons/icon_4_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_5 a {
	background: url(../img/icons/icon_5.png)no-repeat left 35px center;
}
.item_list li.item_5 a:hover,
.item_list li.item_5.active a {
	background: url(../img/icons/icon_5_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_6 a {
	background: url(../img/icons/icon_6.png)no-repeat left 35px center;
}
.item_list li.item_6 a:hover,
.item_list li.item_6.active a {
	background: url(../img/icons/icon_6_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_7 a {
	background: url(../img/icons/icon_7.png)no-repeat left 38px center;
}
.item_list li.item_7 a:hover,
.item_list li.item_7.active a {
	background: url(../img/icons/icon_7_hov.png)no-repeat left 38px center #ffe3c7;
}
.item_list li.item_8 a {
	background: url(../img/icons/icon_8.png)no-repeat left 35px center;
}
.item_list li.item_8 a:hover,
.item_list li.item_8.active a {
	background: url(../img/icons/icon_8_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_9 a {
	background: url(../img/icons/icon_9.png)no-repeat left 35px center;
}
.item_list li.item_9 a:hover,
.item_list li.item_9.active a {
	background: url(../img/icons/icon_9_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_10 a {
	background: url(../img/icons/icon_10.png)no-repeat left 35px center;
}
.item_list li.item_10 a:hover,
.item_list li.item_10.active a {
	background: url(../img/icons/icon_10_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_11 a {
	background: url(../img/icons/icon_11.png)no-repeat left 35px center;
}
.item_list li.item_11 a:hover,
.item_list li.item_11.active a {
	background: url(../img/icons/icon_11_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_12 a {
	background: url(../img/icons/icon_12.png)no-repeat left 35px center;
}
.item_list li.item_12 a:hover,
.item_list li.item_12.active a {
	background: url(../img/icons/icon_12_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_13 a {
	background: url(../img/icons/icon_13.png)no-repeat left 37px center;
}
.item_list li.item_13 a:hover,
.item_list li.item_13.active a {
	background: url(../img/icons/icon_13_hov.png)no-repeat left 37px center #ffe3c7;
}
.item_list li.item_14 a {
	background: url(../img/icons/icon_14.png)no-repeat left 37px center;
}
.item_list li.item_14 a:hover,
.item_list li.item_14.active a {
	background: url(../img/icons/icon_14_hov.png)no-repeat left 37px center #ffe3c7;
}
.item_list li.item_15 a {
	background: url(../img/icons/icon_15.png)no-repeat left 35px center;
}
.item_list li.item_15 a:hover,
.item_list li.item_15.active a {
	background: url(../img/icons/icon_15_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_16 a {
	background: url(../img/icons/icon_16.png)no-repeat left 35px center;
}
.item_list li.item_16 a:hover,
.item_list li.item_16.active a {
	background: url(../img/icons/icon_16_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_17 a {
	background: url(../img/icons/icon_17.png)no-repeat left 35px center;
}
.item_list li.item_17 a:hover,
.item_list li.item_17.active a {
	background: url(../img/icons/icon_17_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_18 a {
	background: url(../img/icons/icon_18.png)no-repeat left 35px center;
}
.item_list li.item_18 a:hover,
.item_list li.item_18.active a {
	background: url(../img/icons/icon_18_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_19 a {
	background: url(../img/icons/icon_19.png)no-repeat left 35px center;
}
.item_list li.item_19 a:hover,
.item_list li.item_19.active a {
	background: url(../img/icons/icon_19_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_20 a {
	background: url(../img/icons/icon_20.png)no-repeat left 35px center;
}
.item_list li.item_20 a:hover,
.item_list li.item_20.active a {
	background: url(../img/icons/icon_20_hov.png)no-repeat left 35px center #ffe3c7;
}
.item_list li.item_21 a {
	background: url(../img/icons/icon_21.png)no-repeat left 35px center;
}
.item_list li.item_21 a:hover,
.item_list li.item_21.active a {
	background: url(../img/icons/icon_21_hov.png)no-repeat left 35px center #ffe3c7;
}

/********Header styles********/

.header {
	height: 80px;
	padding-top: 20px;
	background: url(../img/header_bg.png) repeat-x;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.row {
	margin: 0;
}
.header .col-md-12 > div {
	padding: 0;
	float: right;
}
.header .col-md-2 {
	line-height: 36px;
	font-size: 30px;
	color: #de6830;
}
.header .col-md-1 {
	height: 36px;
	background: url(../img/header_flow.png) no-repeat center right 30px;
}
.header .name_of_base {
	line-height: normal;
	font-size: 21px;
	font-family: 'open_sans_lightregular';
	color: inherit;
}
.header .name_of_base p:first-child {
	margin-bottom: 5px;
	font-family: 'open_sans_semiboldregular';
}
.admin_info {
	text-align: right;
	clear: both;
}
.admin_info span {
	padding-left: 25px;
}
.admin_info span:first-child {
	padding-left: 0;
}
.navbar {
	min-height: auto;
	margin-bottom: 0;
	float: right;
}
.navbar .nav,
.nav > li {
	display: inline-block;
}
.nav > li > a {
	padding: 8px 14px;
	color: #de6830;
	transition: all 0.3s ease;
}
.nav > li > a:hover,
.nav > li > a:focus {
	color: #ffe3c7;
	background: #9e9a49;
}
.navbar div {
	margin-top: -9px;
	text-align: right;
	float: right;
}

/********Content styles********/

.main_base {
	min-height: 745px;
}
.main_base a {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.top_panel {
	padding: 15px 0;
}
.top_panel .col-md-9 {
	padding-left: 0;
}
.top_panel .col-md-3 {
	padding-right: 0;
}
form[name=search] {
	float: right;
}
.knbase_box {
	width: 32%;
	margin: 0 2% 23px 0;
	border: 1px solid #777777;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
}
.knbase_box:nth-child(3) {
	margin-right: 0;
}
.knbase_top {
	position: relative;
	height: 39px;
	padding: 0 15px;
	border-bottom: 1px solid #777777;
	line-height: 39px;
	font-size: 18px;
	color: #fff;
	background: #9e9a49;
}
.knbase_top a {
	color: #fff;
}
.knbase_top a:hover {
	color: #fff;
}
.knbase_top .glyphicon-remove,
.knbase_top button.close {
	position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
	text-shadow: none;
    color: #2e1106;
	opacity: 1;
}
.knbase_cont {
	padding: 8px 15px;
}
.knbase_cont .col-sm-8,
.knbase_cont .col-sm-12 {
	padding: 0;
}
.knbase_cont .block_2 {
	padding-right: 0;
	color: #777777;
	line-height: 40px;
	white-space: nowrap;
}
.knbase_cont .block_3 {
	padding-right: 0;
}
.knbase_cont .author {
	min-height: 40px;
	height: 100%;
	padding: 0 0 0 35px;
	line-height: 40px;
	background: url(../img/icons/base_1.png) no-repeat left center;
}
.knbase_cont .publish {
	min-height: 40px;
	height: 100%;
	padding: 0 0 0 35px;
	line-height: 40px;
	background: url(../img/icons/base_2.png) no-repeat left center;
}
.knbase_cont .drafts {
	min-height: 40px;
	height: 100%;
	padding: 0 0 0 35px;
	line-height: 40px;
	background: url(../img/icons/base_3.png) no-repeat left center;
}
.knbase_cont .icon_base {
	height: 80px;
	background: url(../img/icons/base_4.png) no-repeat right center;
}
.permissions {
	display: block;
	width: 28px;
	height: 28px;
	background: url(../img/icons/base_5.png) no-repeat left center;
	cursor: pointer;
	float: right;
}
.knbase_cont .permissions {
	margin-top: 3px;
}
/********Footer styles********/

.footer {
	position: relative;
	bottom: -50px;
	height: 50px;
	margin-top: -50px;
	line-height: 50px;
	text-align: center;
	background-color: #f6be8d;
}
.foo_logo {
	display: inline-block;
	width: 170px;
	height: 30px;
	margin-left: 20px;
	vertical-align: middle;
	background: url(../img/foo_logo.png) no-repeat;
}

/********Open kn base styles********/

.knbase_block {
	display: none;
	min-height: 745px;
}
.sett_panel {
	padding: 15px 0;
	border-bottom: 1px solid #e5e5e5;
}
.knbase_block table a.text-success {
	text-decoration: underline;
}
.choose_base .input-group-addon {
	padding: 6px 18px;
	background: url(../img/icons/icon_15_hov.png)no-repeat center center;
}
.choose_base .sel_btn {
	width: 173px;
	border-left: none;
	text-align: left;
}
.choose_base .btn-default {
	color: #2e1106;
}
.choose_base .btn-default:hover,
.choose_base .btn-default:focus,
.choose_base .btn-default:active {
    color: #2e1106;
    background-color: #fff;
    border-color: #ccc;
    outline: none;
	box-shadow: none;
}
.choose_base_btn_box {
	display: inline-block;
}
.doc_table td:nth-child(2) {
	text-align: left;
}
.item_doc {
	display: inline-block;
	height: 24px;
	padding-left: 36px;
	line-height: 24px;
	color: #2e1106;
}
.item_doc:hover,
.item_doc:focus {
	color: #2e1106;
}
.category {
	background: url(../img/icons/contain_1.png) no-repeat left center;
}
.article {
	background: url(../img/icons/contain_3.png) no-repeat left center;
}
.draft {
	background: url(../img/icons/contain_4.png) no-repeat left center;
}
.contain {
	display: inline-block;
	padding: 4px 7px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.contain .category {
	background: url(../img/icons/contain_2.png) no-repeat left center;
}

/********Popups********/

.modal {
	padding: 0 !important;
}
.modal-title {
	font-size: 16px;
	font-family: 'open_sans_semiboldregular';
	color: #de6830;
}
.modal-dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 0 0 -300px;;
}
.modal-header p {
	font-size: 16px;
}
	/*==modal Add Knowledge base==*/
.modal_1 .modal-dialog {
	margin-top: -97px;
}
form[name=add_base] input[type=text] {
	width: 296px;
}
form[name=add_base] label {
	padding-left: 35px;
}
	/*==modal Permissions==*/
.modal_2 .modal-dialog {
	margin-top: -140px;
}
.permiss_form > div {
	width: 50%;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
}
.permiss_form > div > p {
	margin-bottom: 3px;
	color: #de6830;
}
.permiss_outer_box {
	width: 100% !important;
	height: 96px;
	margin-bottom: 10px;
	overflow: auto;
}

	/*==modal Edit Knowledge base==*/
.modal_3 .modal-dialog {
	margin-top: -97px;
}
form[name=edit_base] input[type=text] {
	width: 296px;
}
form[name=edit_base] label  {
	padding-left: 35px;
}

	/*==modals Delete category & article==*/
.modal_4 .modal-dialog {
	margin-top: -95px;
}
.modal_5 .modal-dialog {
	margin-top: -85px;
}
.modal_4 p,
.modal_5 p {
	padding: 0 70px;
	color: #777777;
}

	/*==modal Change order==*/
.modal_6 .modal-dialog {
	margin-top: -141px;
}
.modal_6 .input-group {
	width: 200px;
	margin: 0 auto 10px;
}
.modal_6 input[type=number] {
	position: absolute;
    top: 59px;
    right: 20%;
    width: 65px;
}
.modal_7 .modal-dialog {
	margin-top: -85px;
}
.modal_7 p {
	padding: 0 25px;
	color: #777777;
}

@media (max-width: 1355px) {
	.container {
		max-width: 1000px;
	}
	.header .col-md-2 {
		font-size: 26px;
	}
	.header .name_of_base {
		font-size: 18px;
	}
	.knbase_box {
		width: 49%;
	}
	.knbase_box:nth-child(2n + 2) {
		margin-right: 0;
	}
	.knbase_box:nth-child(3) {
		margin-right: 2%;
	}
}
@media (max-width: 1199px) {
	.main_wrapper {
		background: none;
	}
	.container {
		padding-left: 113px;
	}
	.header .col-md-1 {
		background-position: center right 13px;
	}
	.header .col-md-2 {
		font-size: 24px;
	}
	.header .name_of_base {
		font-size: 16px;
	}
	.nav > li > a {
		padding: 8px;
	}
	.footer {
		text-align: left;
	}
	.footer .col-md-4.col-sm-4 {
		padding: 0;
	}
	.foo_logo {
		width: 160px;
		margin-left: 0;
		background-size: 100%;
	}
}
@media (max-width: 992px) {
	.header .col-md-1 {
		display: none;
	}
	.footer {
		height: 80px;
		padding-top: 20px;
		line-height: 25px;
		text-align: center;
	}
	.footer .col-md-12 > div:first-child {
		text-align: right;
	}
	.footer .col-md-12 > div:nth-child(2) {
		text-align: left;
	}
	.doc_table td:last-child  a {
		display: block;
		max-width: 96px;
		margin: 0 auto 8px;
	}
	.doc_table td:last-child  a:last-child {
		margin-bottom: 0;
	}
}
@media (max-width: 767px) {
	.mob_btn {
		display: inline-block;
		top: 0;
		left: 250px;
		margin-top: 3px;
	}
	.left_panel {
		top: 100px;
		left: initial;
		right: 0;
		width: 0;
		min-height: auto;
	}
	.item_list {
		height: 440px;
		overflow: hidden;
	}
	.item_list li a {
		padding-left: 64px;
		background-position: left 18px center !important;
	}
	.logo,
	.left_panel span {
		display: none;
	}
	.container {
		padding-left: 15px;
	}
	.header {
		padding-top: 10px;
		height: 100px;
		background-repeat: repeat;
	}
	.navbar {
		float: none;
	}
	.admin_info {
		position: absolute;
		top: -5px;
		right: 0;
	}
	#pos_name {
		display: block;
		padding-left: 0;
	}
	.header .col-md-2 {
		line-height: normal;
	}
	.header .name_of_base {
		line-height: 34px;
		text-align: right;
	}
	.header .name_of_base p:first-child {
		margin-right: 0;
	}
	.knbase_box,
	.knbase_box:nth-child(2n + 2),
	.knbase_box:nth-child(3) {
		width: 60%;
		margin: 0 auto 15px;
		float: none;
	}
	.knbase_cont .block_2 {
		padding: 0;
		line-height: normal;
	}
	.knbase_cont .icon_base {
		height: 115px;
	}
	.footer .col-md-12 > div:first-child,
	.footer .col-md-12 > div:nth-child(2) {
		text-align: center;
	}
	.footer {
		position: static;
		height: 110px;
		margin-top: 0;
	}
	.modal-dialog {
		width: 280px;
		margin: -104px 0 0 -140px;
	}
	form[name=add_base] label {
		padding-left: 0;
	}
	form[name=add_base] input[type=text],
	form[name=edit_base] input[type=text] {
		width: 100%;
	}
	.modal_2 .modal-dialog {
		margin-top: -215px;
	}
	.permiss_form > div {
		width: 100%;
		float: none;
	}
	.permiss_form input[type=text] {
		display: inline-block;
		width: 173px;
	}
	.choose_base {
		margin-bottom: 10px;
	}
	.choose_base,
	.choose_base .input-group-btn {
		display: inline-block;
	}
	.choose_base .input-group-btn:last-child > .btn {
		margin-left: -4px;
	}
	.choose_base .input-group-addon {
		display: inline-block;
		height: 34px;
	}
	.doc_table td:last-child  a {
		display: inline-block;
		max-width: auto;
		margin: 0;
	}
	.doc_table td:last-child  a:nth-child(2) {
		margin-top: 0;
	}
	.modal_4 p,
	.modal_5 p,
	.modal_7 p{
		padding: 0;
	}
	.modal_6 .modal-dialog {
		margin-top: -163px;
	}
	.modal_6 input[type=number] {
		position: static;
		width: 200px;
		margin: 0 auto 10px;
	}
	.modal_7 .modal-dialog {
		margin-top: -105px;
	}
}
@media (max-width: 560px) {
	.container {
		padding: 0 6px;
	}
	.header {
		height: 70px;
	}
	.header .col-md-2.col-sm-3.col-xs-6,
	.header .name_of_base {
		display: none;
	}
	.navbar {
		text-align: center;
	}
	.navbar .nav {
		display: inline-block;
		width: 100%;
	}
	.nav > li > a {
		padding: 6px;
	}
	.mob_btn {
		left: initial;
		right: -12px;
	}
	.left_panel {
		top: 70px;
	}
	.admin_info {
		position: static;
		text-align: center;
	}
	#pos_name {
		display: inline;
		padding-left: 15px;
	}
	.sett_panel {
		border: none;
		padding-bottom: 0;
	}
	.choose_base {
		display: block;
		width: 256px;
		margin: 0 auto 10px;
	}
	.choose_base .sel_btn {
		width: 188px;
	}
	.choose_base_btn_box {
		display: block;
		width: 86px;
		margin: 0 auto;
	}
	.top_panel .col-md-9,
	.top_panel .col-md-3 {
		width: 100%;
		padding: 0;
		text-align: center;
		float: none;
	}
	.top_panel > div:first-child  a {
		width: 256px;
		display: block;
		margin: 0 auto;
	}
	.top_panel > div:first-child a:nth-child(2) {
		margin-top: 8px;
	}
	.top_panel form {
		width: 256px;
		margin: 10px auto;
		float: none;
	}
	.top_panel > a:first-child,
	.knbase_box,
	.knbase_box:nth-child(2n + 2),
	.knbase_box:nth-child(3) {
		width: 256px;
	}
}
@media (max-height: 520px) {
	.item_list {
		height: 204px;
	}
}